/* General webpage */

#webpage {
    height: auto;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: auto;
}


/* Header */

#header {
    background-color: #eeeeee;
    height: 100px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}

#PolyChat {
    text-align: left;
    font-size: 60px;
    margin-left: 25px;
}

#Poly {
    color: #ff671b;
    float: left;
}

#users {
    width: 3%;
    margin-top: 35px;
    float: left;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#Chat {
    color: #0295d3;
    float: left;
}

#iconeUser {
    width: 15%;
    margin-left: 8px;
    margin-right: 25px;
    margin-top: 20px;
}


/* Right side Header : */

#notfication {
    width: 15%;
    margin-right: 25px;
    margin-top: 20px;
}

#web {
    width: 15%;
    margin-right: 25px;
    margin-top: 20px;
}

#iconeSetting {
    width: 15%;
    margin-right: 25px;
    margin-top: 20px;
}

#UserName {
    margin-left: 3px;
    color: rgb(19, 126, 19);
}

#Setting {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}


/* Groupe */

#templateGroupe {
    margin-top: 34px;
    height: auto;
    float: left;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
}


/* ---------------Left side */

#leftSide {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 75%;
    border-right: 1px solid white;
}

#upperSideLeft {
    background-color: #5f9ea0;
    height: 80px;
    color: white;
}

#groupeActif {
    margin-top: 8px;
    margin-left: 10px;
    font-size: small;
}

#nomGroupe {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
}

#mainLeftSide {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% 20%;
    border-right: 1px solid white;
    margin-top: 30px;
}


/* Chatbox : */

#likeImage {
    float: left;
    height: 5%;
    width: 5%;
}

#messageInput {
    width: 78%;
}

#submitButton {
    height: 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: #3b9ac0;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

#submitButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#submitButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#submitButton:hover span {
    padding-right: 25px;
}

#submitButton:hover span:after {
    opacity: 1;
    right: 0;
}


/* ---------------Right side */

#rightSide {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 75%;
}

#upperRightSide {
    display: grid;
    height: 80px;
    grid-template-columns: 70% 30%;
    background-color: #5f9ea0;
}

#upperSideRightLeft {
    float: right;
    color: white;
}

#ListeDesGroupes {
    margin-top: 5px;
    margin-left: 10px;
    font-size: small;
}

#groupesDisponibles {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
}

#upperSideRightRight {
    margin-top: 33px;
}

#plus {
    width: 20%;
    margin-right: 20px;
}

#settingWhite {
    width: 20%;
}

#listeGroupe {
    border: 1px solid black;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 35px;
}