body {
    font-family: Arial, Helvetica, sans-serif;
}

#header1 {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #eeeeee;
}

#header2 {
    background-color: #5f9ea0;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
}

#dynamicViews {
    display: grid;
    grid-template-columns: 60% 40%;
}

#logo {
    margin-left: 10px;
    font-weight: lighter;
}

#logo div {
    display: inline;
}

#logoPoly {
    color: #ff671b;
}

#logologo {
    color: #363636;
}

#logoChat {
    color: #0295d3;
}

#icones {
    margin-top: 25px;
    margin-bottom: 2px;
    font-size: 30px;
    color: #363636;
}

#icones div {
    display: inline;
    margin: 5px;
}

#username {
    color: green;
    font-size: 10px;
}

#header2 div {
    margin-left: 8px;
}

#groupeActif {
    border-right: 2px solid #eeeeee;
}

#dynamicChannelList {
    font-size: 25px;
    padding: 10px;
}

.channel div {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plusIcon,
.starIcon {
    color: #ff5900;
}

.plusIcon {
    cursor: pointer;
}

.minusIcon {
    color: #4e9fa0;
    cursor: pointer;
}

.channelName {
    color: #386bb8;
    cursor: pointer;
}

.channel:nth-child(odd) {
    background-color: #f8f8f8;
}

.channel:nth-child(even) {
    background-color: #eeeeee;
}

.default {
    font-size: 15px;
    font-style: italic;
    color: #0087d5;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #0087d5;
    padding: 3px 8px;
}


/* ------ ChatBox Grid */

#ChatZone {
    display: grid;
    grid-template-columns: 50% 50%;
}

ul li {
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.messageContentHim {
    background: #eee;
    float: left;
}

.messageContentMe {
    float: bottom;
    background: #0295d3;
    color: #fff;
}

.messageContentHim+.messageContentMe {
    border-bottom-right-radius: 5px;
}

.messageContentMe+.messageContentMe {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.messageContentMe:last-of-type {
    border-bottom-right-radius: 30px;
}

.MessengeHim {
    float: bottom;
    display: grid;
    grid-auto-rows: 10% 80% 10%;
}

.MessengeMe {
    margin-right: 10px;
    align-content: right;
    float: right;
    display: grid;
    grid-auto-rows: 80% 20%;
}

.identifier {
    color: #a3a3b0;
}


/* ----- Chat grid */

#chat {
    display: grid;
    grid-template-rows: 70% 30%;
}


/*------ Text Box ------------ */

#thumbsUp {
    background-color: #5f9ea0;
    color: white;
    float: left;
    text-align: center;
    font-size: 35px;
    height: 105%;
    width: 10%;
}

#message-input {
    width: 76%;
    height: 100%;
    margin-left: 3px;
}


/* ------- submit Button ---- */

#submitButton {
    display: inline-block;
    padding: 20px 32px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #5f9ea0;
    border: none;
}

#submitButton:hover {
    background-color: #5f9ea0
}

#submitButton:active {
    background-color: #5f9ea0;
    transform: translateY(2px);
}