#formulaire {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    background-color: #f3e5a5;
    border: 1px solid black;
}

table {
    table-layout: auto;
}

#item1 {
    border: 1px solid black;
    background-color: #f3e5a5;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 3px;
}

#item2 {
    background-color: #fcfa53;
    border: 1px solid black;
    margin: 3px;
    padding: 5px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

#item3 {
    background-color: #fffd77;
    border: 2px solid black;
    margin: 3px;
    padding: 5px;
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#mass1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#species1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#mass2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#species2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#item4 {
    background-color: #f3e5a5;
    padding: 5px;
    grid-column: 1/2;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

#item4a {
    background-color: #fcfa53;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
}

img {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#output1,
#output2 {
    display: none;
    background-color: #fffea2;
    margin: 3px;
    border: 2px solid black;
    border-collapse: collapse;
}

#output1 td,
#output1 th,
#output2 td,
#output2 th {
    border-bottom: 1px solid black;
    padding: 3px;
    text-align: left;
}

th {
    background-color: #fffd77;
}

#clear2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(151, 163, 152);
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
}



#Default {
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(151, 163, 152);
    border: none;
    border-radius: 15px;
    margin-left: 5px;
}

#Default:hover, #clear2:hover{
    background-color: #be7027
}

#Default:active, #clear2:active {
    background-color: #c58e29;
}

#Calculate {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#Calculate:hover {
    background-color: #3f9b42
}

#Calculate:active {
    background-color: #3e8e41;
}