/*A:link {
    color: #0033CC;
    text-decoration: none
}

A:visited {
    color: #993300;
    text-decoration: none
}

A:hover {
    color: white;
    text-decoration: none;
    background-color: lightgrey
}
*/

.link {
    text-decoration: none;
}

#titre {
    background-color: lightgray;
    border: 1px solid black;
    box-sizing: content-box;
}

.table {}

#tableGenerale {
    backgroudn-color: #ccccca;
}

#Parametre {
    background-color: #f4f55b;
    border: 1px solid black;
    box-sizing: content-box;
}

#Composantes {
    background-color: #f4eda5;
    border: 1px solid black;
    box-sizing: content-box;
}

#Calcul {
    background-color: #f4eda5;
    border: 1px solid black;
    box-sizing: content-box;
}


/*
#Output {
    background-color: #fcfa53;
}

#Format {
    background-color: #fcfa53;
}



#Distribution {
    background-color: #fcfa53;
}
*/

#clear2 {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #e1e3e0;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
}

#clear2:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

#Default {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #e1e3e0;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
}

#Default:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

#Calculate {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #e1e3e0;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
}

#Calculate:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}